<template>
  <section class="about">
    <div class="background"></div>
    <div class="container">
      <div class="content">
        <section-heading :title="'О компании'" />
        <div class="row">
          <div class="col-lg-8">
            <about />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SectionHeading from '../Blocks/Heading/SectionHeading'
import About from '../../assets/content/about.vue'

export default {
  components: {
    SectionHeading,
    About
  },

  data: () => ({
    content: null
  })
}
</script>

<style lang="scss">
.about {
  background-image: url('../../assets/images/about-bg.jpg');
  background-size: cover;
  background-position-y: -228px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .about-text {
    margin-top: -64px;
  }

  .background {
    position: absolute;
    width: 70%;
    height: 100%;
    background: #000;
    opacity: 0.75;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .content {
    color: white;
    padding: 84px 0;

    section {
      margin-top: 0;
    }
  }
}
</style>
