<template>
  <section>
    <div class="container">
      <section-heading :title="'наши преимущетва'" />
      <div class="row">
        <advantage
          v-for="(advantage, index) in advantages"
          :key="'advantage-' + index"
          :advantage="advantage"
        />
      </div>
    </div>
  </section>
</template>

<script>
import SectionHeading from '../Blocks/Heading/SectionHeading'
import Advantage from '../Blocks/Advantages/Advantage'
import BoxIcon from '../../assets/advantages/Box.svg'
import ClockIcon from '../../assets/advantages/clock.svg'
import MoneyIcon from '../../assets/advantages/money.svg'
import ThinkIcon from '../../assets/advantages/think.svg'

export default {
  components: {
    SectionHeading,
    Advantage
  },
  data: () => ({
    advantages: [
      {
        title: 'все нужные услуги в одном месте',
        text:
          'Вам больше не нужно взаимодействовать с десятками подрядчиков и организаций',
        icon: BoxIcon
      },
      {
        title: 'РЕШАЕМ ДАЖЕ СЛОЖНЫЕ ВОПРОСЫ',
        text:
          'Благодаря огромному многолетнему опыту работы для нас не существует нерешаемых задач',
        icon: ThinkIcon
      },
      {
        title: 'ЭКОНОМИМ ВАШИ ДЕНЬГИ',
        text:
          'Богатый опыт наших специалистов и выгодные решения позволяют экономить',
        icon: MoneyIcon
      },
      {
        title: 'СОБЛЮДЕНИЕ СРОКОВ',
        text:
          'Работая с нами вы можете смело планировать будущие этапы проекта. Несем ответственность за соблюдение сроков',
        icon: ClockIcon
      }
    ]
  })
}
</script>
