<template>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="contacts__header">Контакты</div>
          <div class="contacts__container">
            <div class="contacts__address__container">
              <div class="contacts__address__icon">
                <Address />
              </div>
              <div class="contacts__address__info">
                <div class="contacts__address__info-header">
                  Адрес
                </div>
                <div v-for="(item, key) in address" :key="`address-${key}`">
                  <div
                    class="contacts__address__info-description"
                    v-html="item"
                  />
                </div>
              </div>
            </div>
            <div class="contacts__email__container">
              <div class="contacts__email__icon">
                <Email />
              </div>
              <div class="contacts__email__info">
                <div
                  v-for="(item, key) in contacts.email"
                  :key="`email-${key}`"
                >
                  <div class="contacts__email__info-description">
                    <a :href="`mailto:${item}`">
                      {{ item }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts__phone__container">
              <div class="contacts__phone__icon">
                <Phone />
              </div>
              <div class="contacts__phone__info">
                <div
                  v-for="(item, key) in contacts.phone"
                  :key="`phone-${key}`"
                >
                  <div class="contacts__phone__info-description">
                    <a :href="`tel:${trimPhone(item)}`">
                      {{ item }}
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="contacts__address__container">
              <div class="contacts__address__icon">
                <Invoice />
              </div>
              <div class="contacts__address__info">
                <div class="contacts__address__info-header">
                  Руководство
                </div>
                <div class="contacts__address__info-description">
                  <b>Генеральный директор</b>: Гурин Роман Владимирович
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts__map">
          <script
            type="text/javascript"
            charset="utf-8"
            async
            :src="mapUrl"
          ></script>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Address from '~/assets/icons/address.svg'
import Email from '~/assets/icons/email.svg'
import Phone from '~/assets/icons/phone-call.svg'
import Invoice from '~/assets/icons/invoice.svg'

import settings from '~/settings.js'

const { map: mapUrl, address, contacts } = settings

export default {
  name: 'Contacts',
  components: { Address, Email, Phone, Invoice },
  data: () => ({
    mapUrl,
    address,
    contacts
  }),
  methods: {
    trimPhone(phone) {
      return phone.replace(/[^0-9/+]/g, '')
    }
  }
}
</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.contacts {
  &__header {
    font-weight: 500;
    font-size: 1.6875rem;
    padding-bottom: 3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__address {
    &__container {
      display: flex;
      flex-direction: row;
    }

    &__icon {
      display: flex;
      margin-right: 2.5rem;
      margin-top: 3.2rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__info-header {
      font-weight: bold;
      font-size: 1.125rem;
      letter-spacing: 0.25rem;
      display: flex;
      margin-bottom: 1.5rem;
    }

    &__info-description {
      // display: flex;
      font-size: 1.125rem;
      margin-bottom: 1rem;
      // text-transform: uppercase;
    }
  }

  &__email {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2rem;
    }

    &__icon {
      display: flex;
      margin-right: 2.5rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__info-description {
      display: flex;
      font-size: 1.125rem;
      letter-spacing: 0.125rem;
      // text-transform: uppercase;
    }
  }

  &__phone {
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2rem;
    }

    &__icon {
      display: flex;
      margin-right: 2.5rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__info-description {
      // display: flex;
      font-size: 1.125rem;
      letter-spacing: 0.125rem;
      // text-transform: uppercase;
    }
  }

  &__map {
    position: absolute;
    margin-top: -64px;
    left: 50%;
    height: calc(110%);
    width: 50%;
    z-index: 0;
  }

  @media (max-width: 769px) {
    &__map {
      left: auto;
      height: 500px;
      width: 100%;
      position: relative;
      margin-top: 64px;
    }
  }
}
</style>
