<template>
  <section class="customers carousel">
    <div class="container flex">
      <div class="text-center">
        <h3 class="text-uppercase">наши заказчики</h3>
      </div>
      <div class="row">
        <div class="col">
          <no-ssr>
            <slick-slide ref="slick" :options="slickOptions">
              <div
                v-for="(customer, index) in customers"
                :key="'customer-' + index"
                class="text-center"
              >
                <component
                  :is="customer.logo"
                  class="logo mx-auto align-self-end"
                />
              </div>
            </slick-slide>
            <!--  -->
          </no-ssr>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import GazpromLogo from '@/assets/customers/gazprom.svg'
import GiprovostokneftLogo from '@/assets/customers/giprovostokneft.svg'
import KrasnoyarkgazpromLogo from '@/assets/customers/krasnoyarkgazprom.svg'
import LuckoilLogo from '@/assets/customers/lukoil.svg'
import MesoyakhoneftegazLogo from '@/assets/customers/mesoyakhoneftegaz.svg'
import NipineftgazLogo from '@/assets/customers/nipineftgaz.svg'
import RussneftLogo from '@/assets/customers/russneft.svg'
import TumenneftgazLogo from '@/assets/customers/tumenneftgaz.svg'
import YamalspgLogo from '@/assets/customers/yamalspg.svg'
import ZarubezhneftLogo from '@/assets/customers/zarubezhneft.svg'
import SevkomneftgazLogo from '@/assets/customers/sevkomneftgaz.svg'

// import CustomersRow from '../Blocks/CustomersRow'

export default {
  components: {
    // CustomersRow
  },
  data: () => ({
    visible: true,
    customers: {
      luckoil: {
        logo: LuckoilLogo
      },
      gazprom: {
        logo: GazpromLogo
      },
      giprovostokneft: {
        logo: GiprovostokneftLogo
      },
      krasnoyarkgazprom: {
        logo: KrasnoyarkgazpromLogo
      },
      mesoyakhoneftegaz: {
        logo: MesoyakhoneftegazLogo
      },
      nipineftgaz: {
        logo: NipineftgazLogo
      },
      russneft: {
        logo: RussneftLogo
      },
      tumenneftgaz: {
        logo: TumenneftgazLogo
      },
      yamalgaz: {
        logo: YamalspgLogo
      },
      zarubezhneft: {
        logo: ZarubezhneftLogo
      },
      sevkomneftgaz: {
        logo: SevkomneftgazLogo
      }
    },
    slickOptions: {
      arrows: false,
      autoplay: true,
      swipeToSlide: true,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 991.98,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 767.98,
          settings: {
            arrows: false,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    }
  }),

  computed: {
    // images() {
    //   return this.customers.slice(0, 4)
    // }
  },
  created() {
    // this.interval = setInterval(() => this.shuffle(), 5000)
  },

  methods: {
    // shuffle() {
    //   this.visible = false
    //   setTimeout(() => {
    //     this.visible = true
    //     this.customers = this.customers.concat(this.customers.splice(0, 4))
    //     // this.customers.sort(() => Math.random() - 0.5)
    //   }, 1100)
    // },
    // toggleTransition() {
    //   this.visible = false
    // }
  }
}
</script>

<style scoped>
.logo {
  max-height: 4rem;
  width: auto;
}
</style>
