<template>
  <section class="work">
    <div class="container">
      <section-heading :title="'Как мы работаем'" />

      <div class="work__description">
        <div class="text">
          <p>
            С самого начала с
            <strong>вами работает персональный менеджер </strong>, который
            сопровождает Вас на всем пути реализации проекта, оставаясь на связи
            и предоставляя оперативный отчет по статусу решения Вашей задачи.
          </p>
        </div>

        <div class="work__illustration">
          <illustration />
        </div>
      </div>

      <div class="work__timeline timeline">
        <div
          v-for="(info, step) in steps"
          :key="`timeline-step-${step}`"
          class="timeline__step"
        >
          <div class="timeline__step-counter">
            <span>{{ step + 1 }}</span>
          </div>
          <div class="timeline__step-content">
            <h3 class="timeline__step-title">
              {{ info.title }}
            </h3>
            <p class="timeline__step-description">
              {{ info.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SectionHeading from '../Blocks/Heading/SectionHeading'
import Illustration from '~/assets/images/work.svg'

export default {
  name: 'HowDoWeWork',
  components: { Illustration, SectionHeading },
  data: () => ({
    steps: [
      {
        title: 'Один звонок',
        description:
          'Вы связываетесь с нами любым удобным способоми озвучиваете задачу'
      },
      {
        title: 'Один договор',
        description: 'Мы подбираем решение и обозначаем точные сроки'
      },
      {
        title: 'Ноль проблем',
        description: 'Мы подбираем решение и обозначаем точные сроки'
      }
    ]
  })
}
</script>

<style lang="scss" scoped>
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.work {
  &__description {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      // margin-bottom: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
      // margin-bottom: 3rem;
    }
  }

  &__illustration {
    display: none;
    justify-content: center;
    padding-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__step {
    position: relative;
    flex: 1 1 0;
    padding: 1rem 0;

    @include media-breakpoint-up(md) {
      padding: 1rem 2rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: #e4b84d;
      z-index: 10;
    }

    &::before {
      top: 0;
      height: 3rem;

      @include media-breakpoint-up(md) {
        left: 0;
        width: 50%;
        height: 4px;
        top: 3rem;
      }
    }

    &::after {
      top: 3rem;
      height: calc(100% - 3rem);

      @include media-breakpoint-up(md) {
        right: 0;
        width: 50%;
        height: 4px;
        top: 3rem;
      }
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      margin-bottom: 3rem;
    }
  }

  &__step-counter,
  &__step-content {
    position: relative;
    z-index: 25;
  }

  &__step-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4.375rem;
    height: 4.375rem;
    margin: 0 auto 1rem;
    background-color: white;
    border-radius: 100%;
    border: 4px solid #e4b84d;
    text-align: center;

    span {
      color: #e4b84d;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &__step-content {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 24px 16px;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
    }
  }

  &__step-title {
    color: #e4b84d;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__step-description {
    //
  }
}
</style>
