<template>
  <header class="intro">
    <the-navbar />
    <!-- <div class="intro-video">
      <video loop muted autoplay poster="video/video.jpg" class="fullscreen-bg__video">
        <source src="video/video.mp4" type="video/mp4" />
        <source src="video/video.webm" type="video/webm" />
      </video>
    </div>-->

    <div
      style="position: absolute; width: 100%; height: 100%; background: #000; opacity: 0;"
    />

    <div v-if="large" class="container text">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <heading />
          <h2 class="subtitle mt-3 text-warning">
            <b>ПОЛНЫЙ КОМПЛЕКС</b> УСЛУГ В СФЕРЕ ПРОМЫШЛЕННОЙ И ПОЖАРНОЙ
            БЕЗОПАСНОСТИ
          </h2>
        </div>
      </div>
    </div>

    <div v-if="!large" class="container py-5">
      <section-heading :title="title" />
    </div>
  </header>
</template>

<script>
import Heading from '../Blocks/Heading/Heading'
import SectionHeading from '../Blocks/Heading/SectionHeading'
import TheNavbar from '../Blocks/TheNavbar'

export default {
  components: {
    Heading,
    TheNavbar,
    SectionHeading
  },
  props: {
    large: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.intro {
  position: relative;
  overflow: hidden;
  color: #fff;
  background-image: url('../../assets/images/bg.png');
  background-size: cover;
  // background-position-y: -300px;

  .text {
    padding: 200px 0 260px 0;

    @media (max-width: 991px) {
      padding: 120px 0 150px 0;
    }
  }

  .subtitle {
    margin-left: 70px;
    font-weight: normal;
  }
}

.intro-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.7;
}
</style>
