<template>
  <section class="leads">
    <div class="container">
      <div class="row">
        <div
          v-for="(lead, index) in leads"
          :key="'lead-' + index"
          class="col-lg-3 col-md-6 mb-3"
        >
          <nuxt-link :to="lead.to" class="card lead h-100">
            <div>{{ lead.text }}</div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import settings from '~/settings.js'

const { leads } = settings

export default {
  data: () => ({
    leads
  })
}
</script>

<style lang="scss">
.leads {
  margin-top: -4rem;
}

.lead {
  font-size: 18px;
  color: white;
  background-color: #3e3e3e;
  will-change: transform;
  transition-duration: 300ms;

  &:hover {
    color: white;
    transform: translateY(-1rem);
  }

  div {
    padding: 12px;
  }
}
</style>
