<template>
  <section class="services container">
    <section-heading :title="'услуги компании'" />
    <div class="row">
      <div
        v-for="(service, index) in services"
        :key="'service-' + index"
        class="col-lg-3 col-md-6"
      >
        <service-card :service="service" />
      </div>
    </div>
  </section>
</template>

<script>
import SectionHeading from '../Blocks/Heading/SectionHeading'
import ServiceCard from '../Blocks/Services/ServiceCard'

export default {
  components: {
    SectionHeading,
    ServiceCard
  },
  data: () => ({
    services: [
      {
        title: 'Специальные технические условия (СТУ)',
        link: '/services/stu/'
      },
      {
        title: 'Обоснование безопасности опасного производственного объекта',
        link: '/services/safety'
      },
      {
        title: 'Разработка технической документации',
        link: '/services/development'
      },
      {
        title: 'Оценка недвижимости, бизнеса, машин и оборудования',
        link: '/services/evaluation'
      },
      {
        title: 'Техническое свидетельство Минстрой России',
        link: '/services/certificate'
      },
      {
        title: 'Технологический регламент',
        link: '/services/regulations'
      },
      {
        title: 'Пожарная безопасность',
        link: '/services/security'
      },
      {
        title: 'Проектно-сметная документация',
        link: '/services/documentation'
      }
    ]
  })
}
</script>
