<template>
  <section class="testimonials container">
    <section-heading title="Отзывы наших партнеров" />

    <div class="row">
      <div class="col">
        <no-ssr>
          <slick-slide ref="slick" :options="slickOptions">
            <div
              v-for="(testimonial, index) in testimonials"
              :key="`testimonial-${index}`"
              class="testimonial-wrapper"
            >
              <testimonial
                :testimonial="testimonial.testimonial"
                :client="testimonial.client"
                :author="testimonial.author"
              />
              <a
                v-if="testimonial.url"
                class="full"
                :href="testimonial.url"
                target="_blank"
              />
            </div>
          </slick-slide>
        </no-ssr>
      </div>
    </div>
  </section>
</template>

<script>
import SectionHeading from '../Blocks/Heading/SectionHeading'
import Testimonial from '../Blocks/Testimonials/Testimonial'

import settings from '@/settings.js'

const { testimonials } = settings

export default {
  name: 'Testimonials',
  components: {
    SectionHeading,
    Testimonial
  },
  data: () => ({
    testimonials,
    slickOptions: {
      arrows: false,
      autoplay: true,
      swipeToSlide: true,
      slidesToShow: 3,
      slidesToScroll: 3,
      responsive: [
        {
          breakpoint: 991.98,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 767.98,
          settings: {
            arrows: false,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    }
  })
}
</script>

<style lang="scss">
section.testimonials {
  position: relative;

  .slick-slider {
    position: relative;
    margin: 0 -15px;

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      &.slick-prev {
        //
      }

      &.slick-next {
        //
      }
    }
  }

  .testimonial-wrapper {
    position: relative;
    padding: 15px;

    a.full {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
</style>
