<template>
  <section>
    <div class="container form">
      <div class="form__corner form__corner--left">
        <corner-left />
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 form__info-container">
          <div class="form__info-title text-center text-lg-left">
            Связаться с нами
          </div>
          <div class="form__info-description text-center text-lg-left">
            Оставьте ваши данные и мы свяжемся с вами в ближайшее время.
          </div>
        </div>
        <div
          class="col-md-12 col-lg-6 form__main-container justify-content-around"
        >
          <form
            name="contact"
            netlify
            data-netlify="true"
            data-netlify-honeypot="bot-field"
            :action="formTarget"
            method="POST"
          >
            <input type="hidden" name="form-name" value="contact-form" />
            <div class="form__main">
              <label class="form__main-label-container" for="contact-form-name">
                Ваше имя
              </label>
              <div class="form__main-input-container">
                <input
                  id="contact-form-name"
                  name="name"
                  type="text"
                  autocomplete="name"
                  class="form__main-input mb-3"
                  placeholder="Введите ваше имя"
                  required
                />
              </div>
              <label
                class="form__main-label-container"
                for="contact-form-email"
              >
                Ваша почта
              </label>
              <div class="form__main-input-container">
                <input
                  id="contact-form-email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  placeholder="Введите email"
                  class="form__main-input"
                  required
                />
              </div>
              <div class="form__main-button-container">
                <button class="form__main-button" type="submit">
                  Отправить
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="form__corner form__corner--right">
        <corner-right />
      </div>
    </div>
  </section>
</template>

<script>
import settings from '@/settings.js'

import CornerLeft from '~/assets/images/corner-left.svg'
import CornerRight from '~/assets/images/corner-right.svg'

const { contacts } = settings

export default {
  name: 'TheForm',
  components: { CornerLeft, CornerRight },
  data: () => ({
    formTarget: contacts.formTarget
  })
}
</script>

<style lang="scss">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.form {
  position: relative;
  z-index: 2;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3e3e3e;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 992px) {
    padding-top: 0;
  }

  &__corner {
    position: absolute;
    display: none;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  &__corner--right {
    bottom: 1rem;
    right: 1rem;
  }

  &__corner--left {
    top: 1rem;
    left: 1rem;
  }

  &__main {
    background-color: #222;
    color: #fcfcfc;
    padding-left: 1.625rem;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
  }

  &__main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include media-breakpoint-up(md) {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    @include media-breakpoint-up(lg) {
      padding-right: 8rem;
      padding-left: 4rem;
    }
  }

  &__main-label-container {
    font-weight: 800;
    font-size: 0.75rem;
    line-height: 1.625rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }

  &__main-input-container {
    color: gray;
    padding-right: 2rem;
  }

  &__main-input {
    width: 100%;
    padding-left: 0.75rem;
    height: 2.4rem;
    transform-origin: left;
    transform: perspective(100px) rotateX(-4deg);
  }

  &__main-button-container {
    padding-right: 2rem;
    margin-top: 2.5rem;
  }

  &__main-button {
    padding-left: 0.75rem;
    width: 100%;
    background-color: #e4b84d;
    border: 0;
    height: 2.7rem;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.625rem;
    text-align: left;
    transform-origin: left;
    transform: perspective(100px) rotateX(-4deg);
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include media-breakpoint-up(lg) {
      padding-top: 4rem;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 7rem;
    }
  }

  &__info-title {
    color: #fcfcfc;
    font-weight: 700;
    font-size: 2.25rem;
  }

  &__info-description {
    font-size: 1.125rem;
    line-height: 1.8125rem;
    color: #e4b84d;

    @include media-breakpoint-up(xl) {
      padding-right: 10rem;
    }
  }
}
</style>
