<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer__subject col-12 col-lg-3">
          <div class="footer__logo-container">
            <nuxt-link class="navbar-brand" :to="{ name: 'index' }">
              <h1 class="m-0 h-0 w-0 overflow-hidden">Промальянс</h1>
              <Logo />
            </nuxt-link>
          </div>
          <div class="footer__slogan">
            <strong>Полный комплекс услуг</strong>
            в сфере промышленной и пожарной безопасности.
          </div>
        </div>

        <div class="footer__menu col-12 col-lg-9">
          <div class="footer__menu-item">
            <div class="footer__menu-title">Меню</div>
            <ul class="footer__menu-links list-unstyled">
              <li v-for="(link, index) in links" :key="'link-' + index">
                <nuxt-link :to="link.to">
                  {{ link.text }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="footer__menu-item footer__menu-item--contacts">
            <div class="footer__menu-title">Контакты</div>
            <ul class="footer__menu-links list-unstyled">
              <li
                v-for="(phone, index) in contacts.phone"
                :key="`footer-contacts-phone-${index}`"
              >
                <a :href="`tel:${trimPhone(phone)}`">
                  <Phone />
                  {{ phone }}
                </a>
              </li>
              <li
                v-for="(email, index) in contacts.email"
                :key="`footer-contacts-email-${index}`"
              >
                <a :href="`mailto:${email}`">
                  <Email />
                  {{ email }}
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__menu-item footer__menu-item--socials">
            <div class="footer__menu-title">Мы в соцсетях</div>

            <ul class="footer__menu-links list-inline">
              <li
                v-for="(social, index) in socials"
                :key="'social-' + index"
                class="list-inline-item"
              >
                <a :href="social.href">
                  <component :is="social.icon" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 text-center">
          <nuxt-link :to="{ name: 'policy' }" class="text-white">
            Политика конфиденциальности
          </nuxt-link>
        </div>
        <div class="col-12 col-lg-6 text-center">
          Дизайн и разработка &mdash;
          <a
            href="https://devolt.one/?utm_source=promalians&utm_medium=footer&utm_campaign=word_of_mouth&utm_content=developer"
            target="_blank"
            class="text-white"
            style="font-family: 'Montserrat', sans-serif; font-weight: 900;"
          >
            D.1
          </a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import settings from '~/settings.js'

import Logo from '~/assets/images/logo.svg'

import Email from '~/assets/icons/email.svg'
import Phone from '~/assets/icons/phone.svg'

import Twitter from '~/assets/icons/twitter.svg'
import Instagram from '~/assets/icons/instagram.svg'

const { contacts, socials } = settings

export default {
  components: { Logo, Email, Phone, Twitter, Instagram },
  data: () => ({
    links: [
      {
        text: 'Главная',
        to: { name: 'index' }
      },
      {
        text: 'О компании',
        to: { name: 'index', hash: '#about' }
      },
      {
        text: 'Преимущества',
        to: { name: 'index', hash: '#advantages' }
      },
      {
        text: 'Услуги',
        to: { name: 'index', hash: '#services' }
      },
      {
        text: 'Контакты',
        to: { name: 'contacts' }
      }
    ],
    contacts,
    socials
  }),
  methods: {
    trimPhone(phone) {
      return phone.replace(/[^0-9/+]/g, '')
    }
  }
}
</script>

<style lang="scss">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.footer {
  background-color: #232120;
  color: #fcfcfc;
  padding: 2rem;
  margin-top: 0;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(md) {
    padding-top: 7rem;
    padding-right: 7rem;
    padding-left: 7rem;
    margin-top: -3rem;
  }

  &__subject {
    margin-bottom: 3rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__logo-container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: start;
    }

    h1 {
      width: 0;
      height: 0;
      margin: 0;
      overflow: hidden;
    }

    svg {
      height: 44px;
      width: auto;
    }
  }

  &__slogan {
    text-align: center;
    font-size: 1.0125rem;
    font-weight: 400;
    line-height: 1.625rem;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__menu-item {
    font-size: 0.7875rem;

    @include media-breakpoint-up(md) {
      padding: 0 0.5rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .footer__menu-title {
      font-weight: 800;
      line-height: 2rem;
      letter-spacing: 0.275rem;
      text-transform: uppercase;
      border-bottom: 1px solid #e4b84d;
      margin-bottom: 1.5rem;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }

    .footer__menu-links {
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 1.75rem;

      svg {
        width: 1.25rem;
        height: auto;
        margin-right: 0.25rem;
      }

      a {
        text-decoration: none;
        color: #fcfcfc;
      }
    }

    &--contacts {
      .footer__menu-links {
        li {
          margin-bottom: 0.75rem;
          font-size: 0.875rem;
          font-weight: normal;

          @include media-breakpoint-up(lg) {
            font-size: 1rem;
          }
        }
      }
    }

    &--socials {
      .footer__menu-links {
        li:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }
}
</style>
