<form
  name="contact-form"
  netlify
  data-netlify="true"
  data-netlify-honeypot="bot-field"
  method="POST"
  class="w-full flex flex-wrap"
  hidden
>
  <div class="w-full lg:w-1/2 lg:pr-4 mb-8">
    <input
      id="contact-name"
      placeholder="Name"
      name="name"
      autocomplete="name"
      class="w-full bg-dark-surface dark:bg-white w-full"
      required
    />
  </div>
  <div class="w-full lg:w-1/2 lg:pl-4 mb-8">
    <input
      id="contact-email"
      placeholder="E-mail"
      name="email"
      type="email"
      autocomplete="email"
      class="w-full bg-dark-surface dark:bg-white w-full"
      required
    />
  </div>
  <div class="w-full flex flex-wrap">
    <button type="submit" class="w-full md:w-auto flex-grow-0 mb-8">
      Send
    </button>
  </div>
</form>
