<template>
  <div class="heading">
    <div class="heading--line"></div>
    <h1 class="text-uppercase">
      <span class="text-white">один партнер -</span>
      <br />максимум преимуществ
    </h1>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.heading {
  display: flex;
  position: relative;
  margin-left: 22px;

  @media (max-width: 991px) {
    margin-left: 32px;
  }

  &--line {
    margin: 8px 0;
    width: 24px;
    background-color: #e4b84d;
    transform: skew(-20deg);

    @media (max-width: 991px) {
      width: 16px;
    }
  }

  h1 {
    margin-left: 1.5rem;
    margin-bottom: 0;
  }
}
</style>
