<template>
  <div class="section-heading">
    <div class="section-heading__line"></div>
    <h1 class="text-uppercase">{{ title }}</h1>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="scss">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.section-heading {
  display: flex;
  position: relative;
  margin-bottom: 32px;

  &__line {
    margin: 4px 0;
    width: 6px;
    background-color: #e4b84d;
    transform: skew(-20deg);

    @include media-breakpoint-up(md) {
      width: 8px;
    }
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1rem;
    margin-left: 1.5rem;
    font-size: 1.725rem;

    @include media-breakpoint-up(md) {
      margin-left: 1.5rem;
      font-size: 2rem;
    }
  }
}
</style>
