/* eslint-disable */
<template>
  <div class="advantage mt-3 col-lg-3 col-md-6">
    <div class="text-center">
      <component :is="advantage.icon" />
    </div>
    <div class="text-center text-uppercase title">
      <h2>{{ advantage.title }}</h2>
    </div>
    <p class="text-center text">{{ advantage.text }}</p>
  </div>
</template>

<script>
export default {
  props: {
    advantage: {
      type: Object,
      default: null
    }
  }
}
</script>

<style lang="scss">
.advantage {
  padding: 0;

  .title {
    margin: 18px 0;
  }

  .text {
    margin: 0 30px;
  }
}
</style>
