<template>
  <article class="service-card d-flex flex-column">
    <h3>{{ service.title }}</h3>
    <!--    <router-link-->
    <!--      :to="{ name: 'Service', params: { service: service } }"-->
    <!--      class="mt-auto"-->
    <!--    >-->
    <!--      <the-button />-->
    <!--    </router-link>-->
    <nuxt-link :to="{ path: service.link }" class="mt-auto">
      <the-button />
    </nuxt-link>
  </article>
</template>

<script>
import TheButton from '../TheButton'

export default {
  name: 'ServiceCardVue',
  components: {
    TheButton
  },
  props: {
    service: {
      type: Object,
      default: null
    }
  }
}
</script>

<style scoped>
.service-card {
  height: 175px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 32px;
  padding: 24px 16px;
}
</style>
