@import "fonts";

$primary: #e4b84d;

html {
  font-family: 'Open Sans', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f4f3;
}

section {
  margin-top: 64px;
}

p {
  font-size: 18px;
  opacity: 0.9;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: $primary;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.9;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  font-weight: bold;
  opacity: 0.9;
}

a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $primary;
}
