<template>
  <div>
    <sidebar />
    <header>
      <intro :title="'Свяжитесь с нами'" />
    </header>
    <main>
      <nuxt />
    </main>
    <the-form />
    <the-footer />
  </div>
</template>

<script>
import Sidebar from '../components/Blocks/Sidebar/Sidebar'
import TheForm from '../components/Sections/TheForm'
import TheFooter from '../components/Sections/TheFooter'
import Intro from '../components/Sections/Intro'

export default {
  name: 'Contacts',
  components: {
    Sidebar,
    TheFooter,
    TheForm,
    Intro
  }
}
</script>
