<template>
  <div>
    <sidebar />
    <header>
      <intro :title="'Заголовок'" large />
    </header>
    <main>
      <nuxt />
    </main>
    <the-form />
    <the-footer />
  </div>
</template>

<script>
import Sidebar from '../components/Blocks/Sidebar/Sidebar'
import Intro from '../components/Sections/Intro'
import TheForm from '../components/Sections/TheForm'
import TheFooter from '../components/Sections/TheFooter'

export default {
  components: {
    Sidebar,
    Intro,
    TheForm,
    TheFooter
  }
}
</script>
