<template>
  <div>
    <sidebar />
    <intro :title="$press.source.title" />
    <main class="container service-text">
      <nuxt />
    </main>
    <the-form />
    <the-footer />
  </div>
</template>

<script>
import Sidebar from '../components/Blocks/Sidebar/Sidebar'
import Intro from '../components/Sections/Intro'
import TheForm from '../components/Sections/TheForm'
import TheFooter from '../components/Sections/TheFooter'

import settings from '@/settings.js'

const { meta } = settings

export default {
  components: {
    Sidebar,
    Intro,
    TheForm,
    TheFooter
  },
  head() {
    return {
      title: `${this.$press.source.title} - ${meta.shortTitle}`
    }
  }
}
</script>

<style lang="scss">
.service-text {
  margin-top: 64px;
  margin-bottom: 64px;

  h2 {
    color: #e4b84d;
  }

  h4 {
    font-size: 18px;
  }
}
</style>
