<template>
  <article class="testimonial testimonial--card">
    <div class="testimonial__container">
      <picture class="testimonial__client-image">
        <img :src="getImg(client.logo)" :alt="client.title" />
      </picture>
      <blockquote class="testimonial__content">
        <p>{{ testimonial }}</p>
        <footer v-if="author" class="testimonial__author">
          <span v-if="author.name" class="testimonial__author-name">
            {{ author.name }}
          </span>
          <span v-if="author.position" class="testimonial__author-position">
            {{ author.position }}
          </span>
        </footer>
      </blockquote>
    </div>
  </article>
</template>

<script>
export default {
  name: 'Testimonail',
  props: {
    testimonial: {
      required: true,
      type: String
    },
    client: {
      required: true,
      type: Object
    },
    author: {
      type: Object,
      required: false,
      default: null
    }
  },
  methods: {
    getImg(logo) {
      return !logo || logo.length === 0
        ? null
        : logo.startsWith('http')
        ? logo
        : require(`~/assets/customers/${logo}?inline`)
    }
  }
}
</script>

<style src="slick-carousel/slick/slick.css"></style>

<style scoped lang="scss">
.testimonial {
  position: relative;

  &--card {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    .testimonial__container {
      display: flex;
      flex-direction: column;
      padding: 24px 16px;
    }
  }

  &__client-image {
    display: flex;
    justify-content: space-around;

    img {
      height: 70px;
      width: auto;
      align-self: center;
      margin-bottom: 1rem;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 0;

    p {
      font-size: 0.875rem;
      font-style: italic;
    }
  }

  &__author {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  &__author-name {
    font-size: 1rem;
  }

  &__author-position {
    font-size: 0.75rem;
    color: #e4b84d;
  }
}
</style>
