<template>
  <div>
    <Contacts />
  </div>
</template>

<script>
import Contacts from '../components/Sections/Contacts'
import settings from '@/settings.js'

const { meta } = settings

export default {
  layout: 'contacts',
  components: { Contacts },
  head() {
    return {
      title: `Контакты - ${meta.shortTitle}`
    }
  }
}
</script>
