<template>
  <div class="app">
    <leads id="leads" />
    <customers id="customers" />
    <advantages id="advantages" />
    <about id="about" />
    <services id="services" />
    <testimonials id="testimonials" />
  </div>
</template>

<script>
import Leads from '~/components/Sections/Leads.vue'
import Customers from '~/components/Sections/Customers.vue'
import Advantages from '~/components/Sections/Advantages.vue'
import About from '~/components/Sections/About.vue'
import Services from '~/components/Sections/Services.vue'
import Testimonials from '~/components/Sections/Testimonials.vue'

export default {
  components: {
    Leads,
    Advantages,
    Customers,
    About,
    Services,
    Testimonials
  }
}
</script>
