<template>
  <div class="sidenav-container">
    <div
      v-if="toggleSidebar"
      class="backdrop"
      @click="doToggleSidebar(false)"
    ></div>

    <transition name="slide-side">
      <div v-if="toggleSidebar" class="sidenav">
        <div
          class="text-white float-right top-0 right-0"
          @click="doToggleSidebar(false)"
        >
          <span class="navbar-toggler border-0">
            <close-icon v-if="toggleSidebar" />
          </span>
        </div>
        <ul class="list-unstyled pt-4">
          <li v-for="menuItem in menuItems" :key="menuItem.text" class="pb-4">
            <nuxt-link
              :to="menuItem.to"
              class="h3"
              @click.native="doToggleSidebar(false)"
            >
              {{ menuItem.text }}
            </nuxt-link>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

import CloseIcon from 'assets/icons/close.svg'

export default {
  components: {
    CloseIcon
  },
  data: () => ({
    menuItems: [
      {
        text: 'Главная',
        to: { name: 'index' }
      },
      {
        text: 'О компании',
        to: { name: 'index', hash: '#about' }
      },
      {
        text: 'Услуги',
        to: { name: 'index', hash: '#services' }
      },
      {
        text: 'Контакты',
        to: { name: 'contacts' }
      }
    ]
  }),
  computed: {
    toggleSidebar() {
      return this.$store.getters['nav/toggleSidebar']
    }
  },
  methods: {
    trimPhone(phone) {
      return phone.replace(/[^0-9/+]/g, '')
    },
    ...mapMutations({ doToggleSidebar: 'nav/TOGGLE_SIDEBAR' })
  }
}
</script>

<style lang="scss" scoped>
$primary: #f5f5f5;

.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  height: 100%;
  background-color: $primary;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 16px 16px 16px 32px;
  width: 500px;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: all 0.3s ease-out;
}

.slide-side-enter,
.slide-side-leave-to {
  transform: translateX(100%);
}
</style>
