<template>
  <div class="row customer-row d-flex">
    <div
      v-for="(customer, index) in customers"
      :key="'image-' + index"
      class="col-lg-3 col-md-6 my-3 text-center d-flex"
    >
      <component :is="customer.logo" class="logo mx-auto align-self-end" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CustomersRow',

  props: {
    customers: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>
.logo {
  max-height: 4rem;
  width: auto;
}
</style>
