<template>
  <div class="the-button">
    <span>Подробнее</span>
  </div>
</template>

<script>
export default {
  name: 'TheButton'
}
</script>
<style lang="scss">
.the-button {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  padding: 4px 20px 4px 8px;
  width: 140px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  background: rgba(228, 184, 77, 0.2);
  clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 0 100%);

  &:hover {
    a {
      color: black;
    }
  }
}
</style>
