<template>
  <nav class="navbar navbar-expand-lg navbar-dark mx-auto my-lg-2">
    <nuxt-link class="navbar-brand" :to="{ name: 'index' }">
      <h1 class="m-0 h-0 w-0 overflow-hidden">Промальянс</h1>
      <Logo />
    </nuxt-link>
    <span class="navbar-toggler border-0" @click="toggleSidebar(true)">
      <menu-icon />
    </span>
    <div id="navbarText" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <nuxt-link class="nav-link" :to="{ name: 'index' }">
            Главная
          </nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link class="nav-link" :to="{ name: 'index', hash: '#about' }">
            О компании
          </nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link
            class="nav-link"
            :to="{ name: 'index', hash: '#services' }"
          >
            Услуги
          </nuxt-link>
        </li>
        <li class="nav-item">
          <nuxt-link class="nav-link" :to="{ name: 'contacts' }">
            Контакты
          </nuxt-link>
        </li>
      </ul>
      <div class="ml-auto d-flex flex-column">
        <div class="d-flex flex-row navbar-contacts">
          <div class="d-flex flex-column align-self-center">
            <div
              v-for="(phone, index) in contacts.phone"
              :key="`navbar-contacts-phone-${index}`"
              class="text-right font-weight-bold"
            >
              <a :href="`tel:${trimPhone(phone)}`">
                {{ phone }}
              </a>
            </div>
          </div>

          <phone-call-icon class="navbar-contacts-icon"></phone-call-icon>
        </div>
        <div class="d-flex flex-row navbar-contacts">
          <div class="d-flex flex-column align-self-center">
            <div
              v-for="(email, index) in contacts.email"
              :key="`navbar-contacts-phone-${index}`"
              class="text-right"
            >
              <a :href="`mailto:${email}`">
                {{ email }}
              </a>
            </div>
          </div>

          <email-icon class="navbar-contacts-icon"></email-icon>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapMutations } from 'vuex'

import settings from '~/settings.js'
import Logo from '~/assets/images/logo.svg'
import PhoneCallIcon from '~/assets/icons/phone-call.svg'
import EmailIcon from '~/assets/icons/email.svg'
import MenuIcon from '~/assets/icons/menu.svg'

const { contacts } = settings

export default {
  name: 'Navbar',
  components: { Logo, PhoneCallIcon, EmailIcon, MenuIcon },
  data: () => ({
    contacts
  }),
  watch: {
    $route() {
      this.toggleSidebar(false)
    }
  },
  methods: {
    trimPhone(phone) {
      return phone.replace(/[^0-9/+]/g, '')
    },
    ...mapMutations({ toggleSidebar: 'nav/TOGGLE_SIDEBAR' })
  }
}
</script>

<style lang="scss" scoped>
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

nav.navbar {
  max-width: 1170px;
  color: #fff;
  font-size: 18px;

  a {
    color: #fff;
    text-decoration: none;
  }

  .nav-link {
    font-size: 1.125rem;

    @include media-breakpoint-up(md) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .navbar-phone {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  .navbar-image {
    margin-left: 2rem;
    height: 48px;
  }
}

.drawer-toggle {
  width: 48px;
}

.navbar-brand {
  img,
  svg {
    height: 48px;
    width: auto;

    @include media-breakpoint-up(md) {
      height: 82px;
    }
  }

  h1 {
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
  }
}

.navbar-contacts {
  margin-bottom: 0.25rem;

  .navbar-contacts-icon {
    width: auto;
    height: 2.25rem;
    align-self: center;
    margin-left: 1.125rem;
  }
}
</style>
